<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
 
	<bean id="employeeServiceImpl"
		class="com.cyr.maven.org.service.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDaoImpl"></property>
	</bean>
 
	<bean id="employeeDaoImpl"
		class="com.cyr.maven.org.dao.EmployeeDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
 
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="checkWriteOperations" value="false"></property>
	</bean>
 
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan">
			<array>
				<value>com.cyr.maven.org.model</value>
			</array>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>
 
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<constructor-arg name="url"
			value="jdbc:mysql://localhost:3306/test"></constructor-arg>
		<constructor-arg name="username" value="root"></constructor-arg>
		<constructor-arg name="password" value="admin"></constructor-arg>
	</bean>
 
	<tx:advice id="txAdvice"
		transaction-manager="hibernateTransactionManager">
		<tx:attributes>
			<tx:method name="createEmployee" isolation="READ_COMMITTED"	propagation="REQUIRED" />
			<tx:method name="updateEmployeeEmailById" isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="deleteEmployeeById"/>
		</tx:attributes>
	</tx:advice>
 
	<aop:config proxy-target-class="true">
		<aop:pointcut
			expression="execution(* com.cyr.maven.org.service.EmployeeServiceImpl.*(..))"
			id="selectAll" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="selectAll" />
	</aop:config>
 
	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
 
 
</beans>